.category-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fffedd;
    padding: 10px;
  }
  
  .category-button {
    color: rgb(25, 14, 88);
    background-color: transparent;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    border: none; /* 테두리 제거 */
  }
  
  .category-button:hover {
    background-color: white;
  }
  