.category-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fffedd;
    padding: 10px;
  }
  
  .category-button {
    color: rgb(25, 14, 88);
    background-color: transparent;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
  }
  
  .category-button:hover {
    background-color: white;
    color: black;
  }
  