.footer {
    height: 70px;
    background-color: #F0F0F0;
}
  
p {
    background-color: #F0F0F0;
    color: grey;
    line-height: 1px;
    font-family: "Nanum Gothic", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7px;
    white-space: nowrap;
}

.division-line {
    border-top: 0.5px solid #F0F0F0;
    margin: 0.5px 0px;
} 