.header {
  background-position: center;
  background: url('../assets/header-image.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 0 20% 0 20%;
  min-height: 400px;
}

@media (max-width: 768px) {
  .header {
    min-height: 100px; 
    margin: 0 10%; 
  }
}
