.header {
  cursor: pointer;
  max-height: 400px; 
}

.header-img {
  width: 75%; /*부모 요소인 .header의 너비에 맞춰 크기 자동으로 조정됨*/
  height: auto; 
  margin: 0 auto; /*중앙정렬*/
  object-fit: contain; 
  display: block; 
}
