.navbar {
    display: flex;
    justify-content: right;
    background-color: white;
    flex-direction: row;
    cursor: pointer;
    margin: 10px;
}

.reporters-btn {
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 4px;
}
  
.reporters-btn:hover {
    background-color: grey;
}
  
.navbar-links {
    list-style: none; 
    display: flex; 
    padding: 0;
    margin: 10px 0 0 10px; /* 상단에서 조금 간격 있게 */
}

.navbar-links li {
    margin-left: 15px; /* 링크 사이 간격 */
}

.navbar-links a {
    color: grey; 
    text-decoration: none; 
    font-size: 14px;
}

.navbar-links .articles-link {
    color: black;
}

.navbar-links a:hover {
    color: black; 
}