.post-form-container {
    max-width: 1296px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    font-family: "Gowun Batang", serif;
    font-weight: 800;
    font-style: bold;
    font-size: 26px;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    margin: 10px 0 5px;
  }
  
  input {
    width: 98.5%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-button {
    color: black;
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    background-color: #F0F0F0;
    border: none;
    margin-top: 15px;
    padding: 8px 24px;
    border-radius: 5px;
    cursor: pointer;
  }
    
  .submit-button:hover {
    color: #F0F0F0;
    background-color: grey;
  }
  