/* 전체 포스트 리스트 스타일 */
.post-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 한 줄에 두 개의 카드 */
  gap: 20px; /* 카드 사이 간격 */
  padding: 20px;
  box-sizing: border-box;
}

/* 개별 포스트 카드 스타일 */
.post-card {
  display: flex; 
  flex-direction: row; 
  background-color: #f0f0f0;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 카드 그림자 */
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  height: 150px; 
  width: 100%;
  color: #333;
}

/* hover 시 색상 반전 효과 */
.post-card:hover {
  background-color: #333;
  color: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* hover 시 그림자 강화 */
}

/* 썸네일 이미지 스타일 (왼쪽에 위치) */
.favicon-image {
  width: 300px; /* 고정 너비 */
  height: 150px; /* 부모 요소 높이에 맞춤 */
  object-fit: contain; 
}

/* 텍스트 영역 스타일 (제목과 카테고리) */
div.post-content {
  display: flex;
  flex-direction: column; /* 제목과 카테고리는 세로로 나열 */
  justify-content: left; 
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px;
  flex-grow: 1; 
}

/* 포스트 제목 스타일 */
.postTitle {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 24px;
  margin: 15px 15px 0px 15px;
  line-height: 1.4;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: wrap; 
  transition: color 0.3s ease; 
}

/* 카테고리 스타일 */
.postCategory {
  font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-size: 12px;
  color: #777; 
  margin: 15px 15px 15px 15px;
}

/* 작은 화면에서 한 줄에 하나의 카드 */
@media (max-width: 768px) {
  .post-list {
    grid-template-columns: 1fr; /* 한 줄에 하나의 카드 */
  }

  .favicon-image {
    width: 20%; /* 이미지가 부모 크기에 맞게 조정 */
    height: auto; /* 이미지 비율을 유지 */
  }

  .post-card {
    height: auto; /* 카드의 높이를 콘텐츠에 맞게 자동으로 조정 */
  }
}